*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
    line-height: 1.6;
    padding: 20px;
}
h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: #ffcc00;
    text-shadow: 2px 2px 4px #ffcc00;
}
#contenedor{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    flex-wrap: wrap;
}
#contenedor div{
    display: flex;
    flex-direction: column;
    min-width: 25vw;
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
